#title{
  text-align: center;
  text-shadow: 0.2rem 0.2rem red;
}

.container{
  background: linear-gradient(90deg, #00ffeb 0%, #073abb 100%);
  border: 1px solid black;
  padding-bottom: 70px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

img{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  padding:20px;
}

.special:hover{
  transform: rotate(20deg);
}

.content{
  display: flex;
  justify-content: center;
}
